<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="dao.CommentDao">
 	<!-- 显示评论 -->
 	<select id="show" resultType="Comment">
 		SELECT cid,uname,upicture,content,ctime 
 		FROM `comment` c JOIN `user` u ON c.uid=u.uid ORDER BY ctime DESC
 		<if test="index!=0 and pageSize!=0">
 			limit #{index},#{pagesize}
 		</if>
 	</select>
 	
 	<!-- 添加 -->
 	<select id="add">
 		insert into `comment`(uid,content,ctime) values(#{uid},#{content},#{ctime})
 	</select>
 	
 	
 	
 </mapper>
 
 