<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="dao.RoomDao">
 <!--  -->
 	<resultMap type="Roomid" id="RoomidMap">
 
 		<result column="rid" property="rid"/>
 		<result column="price" property="price"/>
 	</resultMap>

 	<!-- 根据房间类型查询所有的房间号 -->
 	<select id="selectByType" parameterType="string"  resultMap="RoomidMap">	
		SELECT rid,price FROM room JOIN roomtype ON room.`typeid`=roomtype.`typeid` WHERE `type`=#{type}

 	</select>
 	
 </mapper>